body{
    background-color: #373737;
    font-family: Tahoma, Geneva, sans-serif;
}
.navbar {
background-color:#ccc;}
.navbar-brand {
 text-transform:capitalize;
}
.navbar-nav .nav-link{
      text-transform:capitalize;
}
.bgh1{
    background-color: #303030;
}